# .example.env


#set to false to disable Entra ID Auth
AUTH_ENABLED=False
#set to false to disable Entra ID Auth
NEXT_PUBLIC_AUTH_ENABLED=False

#NextAuth Debug. Set to True to enable
NEXT_AUTH_DEBUG_MODE=False



# generate secret using 'openssl rand -base64 32' in terminal
NEXTAUTH_SECRET=secret

ADMIN_EMAIL_ADDRESS="youremail@email.com"

# Azure AD Application (Client) ID for Frontend
NEXT_PUBLIC_AZURE_AD_CLIENT_ID=secret

# Azure AD Tenant ID (shared across frontend and backend)
NEXT_PUBLIC_AZURE_AD_TENANT_ID=secret

# Azure AD Secret Value for Frontend (use carefully and securely)
AZURE_AD_CLIENT_SECRET=secret

# Redirect URL for Frontend (should match the one registered in Azure AD)
NEXT_PUBLIC_AZURE_AD_REDIRECT_URI=http://localhost:3000/api/auth/callback/azure-ad

# API Scope to request access from backend (Application ID URL with '/access_as_user' path)
NEXT_PUBLIC_AZURE_AD_API_SCOPE=api://secret/access_as_user

# Development access token for local testing
NEXT_PUBLIC_DEV_ACCESS_TOKEN=dev-access-token
