
WEAVIATE_URL=http://localhost:8080
WEAVIATE_API_KEY=key

SEP_PATH_REAL=enter_document_repo_path
SEP_PATH_DOCKER=/app/docs

WEAVIATE_URL=http://weaviate:8080
WEAVIATE_API_KEY=key
RECORD_MANAGER_DB_URL=postgresql://username:yourpassword@postgres_drsearch:5432/recordmanager_db
AZURE_OPENAI_API_KEY=enter-key
AZURE_OPENAI_ENDPOINT=enter-endpoint
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o
AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_EMBEDDER=text-embedding-ada-002
SEP_PATH_REAL=enter-path
