/* app\globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the Inter font using @font-face */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2'),
       url('/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.woff2') format('woff2'),
       url('/fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Apply the Inter font to the body and the .inter class */
body, .inter {
  font-family: 'Inter', sans-serif;
  color: #000000;
  background: #bfc1b4;
}

body input,
body textarea { 
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}